spring/src/main/resources/META-INF/myTag.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.puhy.cn/schema/myTag" 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.puhy.cn/schema/myTag" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- 自定义标签命名空间 -->

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <!-- 定义标签 -->
    <xsd:element name="myBean">
    		<xsd:complexType>
    			<xsd:attribute name="field1" type="xsd:string" use="required" />
    			<xsd:attribute name="field2" type="xsd:string" use="required" />
    		</xsd:complexType>
    </xsd:element>

</xsd:schema>